@import "../../node_modules/bulma/bulma.sass";

// body {
//     background: black;
// }

.form-title {
    padding: 10px;
    margin-left: 20px;
    font-weight: bold;
}

.form-section {
    padding: 10px;
    margin-left: 20px;
}

.create-btn-section {
    padding: 10px;
    margin-left: 20px;
}

.color-button {
    margin-top: 10px;
}

.color-picker {
    padding: 20px;
}

.selected-border {
    border: 4px solid #4fc0d8;
}

.code-container {
    padding: 100px;
}